################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TodoApi/FileContentIndex/4f698e1f-b31e-4aa4-8117-a785756a2f0f.vsidx
